{% extends 'base.html' %}

{% block content %}
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <title>Letter</title>
<style type="text/css">
		.form-signin {
	  width: 100%;
	  max-width: 330px;
	  padding: 17px;
	  margin: auto;
	}
	.form-signin .form-control {
	  position: relative;
	  box-sizing: border-box;
	  height: auto;
	  padding: 10px;
	  font-size: 16px;
	}
	
	.form-signin .form-control:focus {
	  z-index: 2;
	}
	.form-signin input[type="email"] {
	  margin-bottom: 10px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	  border-radius: 10px;
	}
	.form-signin input[type="date"] {
	  margin-bottom: 10px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	  border-radius: 10px;
	}
	.form-signin input[type="password"] {
	  margin-bottom: 3px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	  border-radius: 10px;
	}	
	.h3{
		text-align: center;
	}

.btn:hover {
  background-color: #3e8e41;
  color: white;
}
.btn1:focus {
	background-color: #3e8e41;

}
</style>



{% if request.user.is_authenticated and not description and not approve %}



	<form class="form-signin" method='POST' action="letter" ng-app="">
	{% csrf_token %}

	<h1 class="h3 mb-3 font-weight-normal"><u>Letter</u></h1><br>
		<span style="text-align: center;margin-left:100px;"><h5><b>Start_date</b></h5></span>
		<input type="date" name="start_date" class="form-control" placeholder="Start Date" required autofocus><br>

			<span style="text-align: center;margin-left:100px;"><h5><b>Last_date</b></h5></span>
			<input type="date" name="last_date" class="form-control" placeholder="Last Date" required><br>
			<textarea rows=10 cols="
			60" name="description" class="form-control" placeholder="Description" style="text-align: left;" ></textarea><br><br>

			<p class="form-control" style="text-align: center;" ><b>{{leave}} {% if leave > 1 %}Days Avaliable in this month {% else %}Day Avaliable in this month {% endif %}</b></p><br>
			<button class="btn1 btn btn-lg btn-primary btn-block" type="submit" ng-click="count = count + 1" ng-init="count=0">
				<div ng-show="count%2==0">Submit</div>
				<div ng-show="count%2!=0">Success</div>

			</button>
</form>


	


{% else %}

<center>
		<pre style="margin-left: 200px;margin-right: 200px;margin-top: 100px;"><h3>Status:</h3>    

			{% if not approve %}
				<pre style="color: black;margin-right: 350px;margin-left: 350px;background-color: white;font-size: 30px;"> In Progress </pre>
		
			{% elif approve == 'Approve' %}
				<pre style="color: white;margin-right: 350px;margin-left: 350px;background-color: green;font-size: 30px;"> Approved </pre>

			{% elif approve == 'Rejected' %}
				<pre style="color: white;margin-right: 350px;margin-left: 350px;background-color: red;font-size: 30px;"> Rejected </pre> 
		
			{% endif %}
		</pre>

</center>

{% endif %}



{% endblock content %}
